.animals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .animal {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px solid goldenrod;
  }

.matchedAnimals {
    margin:0 1rem .5rem 1rem;
  }